<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.guinote">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".TorneoApp.App1"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".ActivityTorneo.Torneo" android:theme ="@style/AppTheme"/>
        <activity android:name=".carga_registro" android:theme ="@style/AppTheme"/>
        <activity android:name=".Pantalla_app" android:theme ="@style/AppTheme" />
        <activity android:name=".navegacion_inicio" android:theme ="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PantallaJuego" android:theme ="@style/AppTheme" />
        <activity android:name=".PantallaJuego1vs1" android:theme ="@style/AppTheme"/>
    </application>
</manifest>